<mat-toolbar color="primary">

  <span>Recipe Book</span>
  <button mat-button (click)="onSelect('recipe')" class="example-icon ml-5" aria-label="Example icon-button with heart icon">
    Recipes
  </button>
  <button mat-button (click)="onSelect('shopping-list')" class="example-icon ml-2d" aria-label="Example icon-button with share icon">
    Shopping List
  </button>
  <span class="example-spacer"></span>

  <button 
  mat-icon-button aria-label="Example icon-button with menu icon" 
  [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

</mat-toolbar>
